{% extends 'base.html.twig' %}

{% block title %}
    <title>Accueil - JB Armengaud</title>
{% endblock %}

{% block body %}
{#<!-- Header-->#}
{#<header class="masthead text-center text-white">#}
{#    <div class="masthead-content">#}
        <div class="container px-5">
            <section class="resume-section">
                <h1 class="masthead-heading mb-0">
                    Jean-Baptiste
                    <span class="text-primary">Armengaud</span>
                </h1>
                <h4 class="masthead-subheading mb-0">
                    Développeur web
                </h4>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
            </section>
            
        </div>
{#    </div>#}
{#</header>#}
{% endblock %}
