{% extends 'base.html.twig' %}

{% block title %}
    <title>JB Armengaud</title>
{% endblock %}

{% block body %}
<!-- Page Content-->
<div class="container px-5">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Jean-Baptiste
                <span class="text-primary">Armengaud</span>
            </h1>
            <div class="subheading mb-5">
                Développeur web
            </div>
            <p class="lead mb-5">
                Bienvenue sur mon site portfolio.<br>
                Après avoir travaillé près de 8 ans dans un cinéma associatif, j'ai effectué une reconversion professionnelle en 2022 pour devenir développeur web PHP/Symfony.<br>
                Suite à un premier poste en tant que développeur web fullstack, je suis à la recherche d’une nouvelle expérience professionnelle.<br>
                Vous retrouverez ici tous mes projets personnels et professionnels.<br>
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/jean-baptiste-armengaud-36697470/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/JeanBaptisteArmengaud" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="{{ asset('assets/pdf/CV_JeanBaptisteArmengaud.pdf') }}" target="_blank" title="Télécharger mon CV"><i class="fa-regular fa-file-lines"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Compétences</h2>
            <div class="subheading mb-3">Langages de programmation &amp; outils</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5" title="HTML"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt" title="CSS"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square" title="Javascript"></i></li>
                <li class="list-inline-item"><i class="fab fa-php" title="PHP"></i></li>
                <li class="list-inline-item"><i class="fab fa-symfony" title="Symfony"></i></li>
                <br>
                <li class="list-inline-item"><i class="fa-solid fa-database"></i> <h5>MySQL</h5></li>
            </ul>
            <div class="subheading mb-3">Méthodologies</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Curiosité / Autonomie / Souci du détail
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Aime résoudre des problèmes
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Travail en équipe
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile / Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Expérience professionnelle</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Développeur web fullstack</h3>
                    <div class="subheading mb-3">Yesss Electrique</div>
                    <ul>
                        <li>MVC maison / PHP / JQuery / Bootstrap 3/4/5 / Twig / MySQL</li>
                        <li>Correction et ajout de fonctionnalités sur les 3 sites principaux de l’entreprise : <br>
                            site interne, site public et site e-commerce BtoB<br>
                            Plus d'informations dans la section Projets
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Janvier 2023 - Aujourd'hui</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education -->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Formations</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Ecole O'Clock</h3>
                    <div class="subheading mb-3">Formation Développeur web spécialisation PHP/Symfony</div>
                    <div>
                        <ul>
                            <li>4 mois de socle : HTML, CSS, PHP, Javascript, POO, MVC</li>
                            <li>1 mois de spécialisation sur le framework Symfony</li>
                            <li>1 mois de projet en équipe : conception et développement d'une application web : Watch'Art, carte interactive avec points d'intérêts</li>
                        </ul>
                    </div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Janvier 2022 - Juin 2022</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Centres d'intérêts</h2>
            <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fa-solid fa-award"></i>&nbsp;</span>
                    Titre Professionnel Développeur web et web mobile
                </li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}
