{% extends 'base.html.twig' %}

{% block title %}
    <title>Accueil - JB Armengaud</title>
{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Jean-Baptiste
                <span class="text-primary">Armengaud</span>
            </h1>
            <div class="subheading mb-5">
                Développeur web backend
            </div>
        </div>
    </section>
</div>
{% endblock %}