{% extends 'base.html.twig' %}

{% block title %}
    <title>Accueil - JB Armengaud</title>
{% endblock %}

{% block body %}
{#<!-- Header-->#}
<header class="masthead text-center text-white">
    <div class="masthead-content">
{#        <div class="container px-5">#}
{#            <h1 class="masthead-heading mb-0">One Page Wonder</h1>#}
{#            <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>#}
{#            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="bg-circle-1 bg-circle"></div>#}
{#    <div class="bg-circle-2 bg-circle"></div>#}
{#    <div class="bg-circle-3 bg-circle"></div>#}
{#    <div class="bg-circle-4 bg-circle"></div>#}

<div class="container px-5">    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Jean-Baptiste
                <span class="text-primary">Armengaud</span>
            </h1>
            <div class="subheading mb-5">
                Développeur web
            </div>
        </div>
    </section>
</div>
</div>
</header>
{% endblock %}
