/*.nav-link[data-bs-toggle].collapsed:after {*/
/*    content: ' \25B4';*/
/*}*/
/*.nav-link[data-bs-toggle]:not(.collapsed):after {*/
/*    content: ' \25BC';*/
/*}*/

.movie-poster {
    height: 390px;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--bs-white);

}
.underline {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.4rem;
    padding-right: 0.2rem;
}
.overline {
    text-decoration: overline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.4rem;
    padding-top: 0.6rem;

}

.collapse-button {
    color: rgba(40, 88, 123, 0.8);
    font-size: 5rem;
}

.collapse-button[aria-expanded="true"] .bi-chevron-compact-down {
    display: none;
}
.collapse-button[aria-expanded="false"] .bi-chevron-compact-up {
    display: none;
}

.card {
    height: 100%;
}
.card-img-watchart {
    cursor: pointer;
    background-color: #004a8b;
}
.card-img-progcine {
    cursor: pointer;
    background-color: #fffadf;
}
.card-img-yesss {
    cursor: pointer;
    background-color: #0d0d0d;
}
.card-img {
    width: auto;
    object-position: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.d-flex.align-items-end {
    margin-top: auto;
}

.video {
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.blur-end {
    position: relative;
    display: inline-block;
    overflow: hidden;
    filter: blur(0);
}
.blur-end::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.7) 100%);
    pointer-events: none; /* Permet de cliquer à travers le pseudo-élément */
}

.carousel-item img{
    height: 500px;
    object-position: top;
    object-fit: cover;
}
.carousel-caption {
    position: relative;
    left: 0;
    right: 0;
}
.carousel-caption ul {
    list-style-type: none;
}
.carousel-caption h4 {
    margin-top: 1rem;
}
