/*.nav-link[data-bs-toggle].collapsed:after {*/
/*    content: ' \25B4';*/
/*}*/
/*.nav-link[data-bs-toggle]:not(.collapsed):after {*/
/*    content: ' \25BC';*/
/*}*/

.movie-poster {
    height: 390px;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--bs-white);

}
.underline {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.4rem;
    padding-right: 0.2rem;
}
.overline {
    text-decoration: overline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.4rem;
    padding-top: 0.6rem;

}

.btn-outline-dark[aria-expanded="true"] .fa-chevron-down {
    display: none;
}
.btn-outline-dark[aria-expanded="false"] .fa-chevron-up {
    display: none;
}

.card {
    height: 100%;
}
.card-img-wrapper {
    height: 100%;
    overflow: hidden;
}
.card-img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.d-flex.align-items-end {
    margin-top: auto;
}
